* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  color: #35495E;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin: 0;
  padding: 1rem;
}

#app {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: Courier New, Helvetica, Arial, sans-serif;
  justify-content: center;
  max-width: 400px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  margin: 1rem 0;
  width: 100px;
}

.dropdown {
  margin: 0.5rem 0;
}

.notice {
  margin: 1rem 0;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.reset-link {
  /* font-size: 0.75rem; */
  color: grey;
}
