* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  color: #35495E;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin: 0;
  padding: 1rem;
}

#app {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  justify-content: center;
  max-width: 400px;
  text-align: center;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 18rem;
  width: 100%;
}

.logo {
  margin: 1rem 0;
  width: 100px;
}

.dropdown {
  margin: 0.5rem 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.step-title {
  font-size: 1.5rem;
}
